<div class="card shadow p-4 bg-dark mb-3">
    <h2 class="text-primary">Contact Me</h2>
</div>

<div class="row g-4">
    <div class="col-md-3">
        <div class="card shadow align-items-center justify-content-center text-primary bg-dark" style="width: 1115px; height: 300px;">
            <h1>HEHEHE</h1>
        </div>
    </div>
</div>