<div class="card shadow p-4 bg-dark mb-4">
    <h2 class="text-primary mb-3">Welcome to home page</h2>
</div>

<div class="row g-4 mb-3">
    <div class="col-md-3">
        <div class="card shadow p-4 bg-dark align-items-center jus">
            <h2 class="text-primary">card 1</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow p-4 bg-dark align-items-center">
            <h2 class="text-primary">card 2</h2>
        </div>
    </div>
</div>

<div class="card shadow p-4 align-items-center bg-dark">
    <h2 class="text-primary">This is a card</h2>
    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>