<div class="card shadow p-4 bg-dark w-100" style="height: 490px;">
     <h2 class="text-primary text-center mb-3">My project</h2>
     <div class="row g-4 mb-3">
          <div class="col-md-3">
               <div class="card shadow bg-light h-100 align-items-center justify-content-center">
                    <div class="card-body" style="height: 200px;">
                         <h1 class="text-primary">card 1</h1>
                    </div>
               </div>
          </div>
          <div class="col-md-3">
               <div class="card shadow bg-light h-100 align-items-center justify-content-center">
                    <div class="card-body" style="height: 200px;">
                         <h1 class="text-primary">card 2</h1>
                    </div>
               </div>
          </div>
          <div class="col-md-3">
               <div class="card shadow bg-light h-100 align-items-center justify-content-center">
                    <div class="card-body" style="height: 200px;">
                         <h1 class="text-primary">card 3</h1>
                    </div>
               </div>
          </div>
          <div class="col-md-3">
               <div class="card shadow bg-light h-100 align-items-center justify-content-center">
                    <div class="card-body" style="height: 200px;">
                         <h1 class="text-primary">card 4</h1>
                    </div>
               </div>
          </div>
     </div>
</div>

